<div class="container" id="main-container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Student List <span class="text-muted fw-normal ms-2">(1)</span></h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">                
                <div>
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#addStudentModal" class="btn btn-sm btn-soft-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                </div>                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="ps-4" style="width: 50px;">
                                </th>
                                <th scope="col" style="width: 100px;">ID</th>
                                <th scope="col" style="width: 100px;">Name</th>                              
                                <th scope="col" style="width: 100px;">E-mail</th>
                                <th scope="col" style="width: 100px;">Dob</th>
                                <th scope="col" style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of students">
                                <th scope="row" class="ps-4">
                                </th>
                                <td>{{student.id}}</td>
                                <td>
                                    <div class="avatar-sm d-inline-block me-2">
                                        <!-- <div class="avatar-title bg-soft-primary rounded-circle text-primary"><i class="mdi mdi-account-circle m-0"></i></div> -->
                                    </div>
                                    <a href="#" class="text-body">{{student.name}}</a>
                                </td>
                                <td><span class="badge badge-soft-success mb-0">{{student.email}}</span></td>  
                                <td><span>{{student.dob}}</span></td>                            
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);" (click)="onOpenModal(student, 'edit')" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);" (click)="onOpenModal(student, 'delete')" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                        <li>                                                                          
                                    </ul>
                                </td>
                            </tr>                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Student Modal -->  
    <div class="modal" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
                    <div class="modal-body">                    
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" ngModel name="name" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" id="email" ngModel name="email" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="dob">Date of birth</label>
                                <input type="date" class="form-control" id="dob" ngModel name="dob" required >
                            </div>
                            <br>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add-student-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>     
    
    <!-- Delete Student Modal -->  
    <div class="modal" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Need confirmation for action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Do you confirm to delete this customer ?</p>
                </div>

                <div class="modal-footer">
                    <button id="delete-student-form" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel</button>
                    <button (click)="onDeleteStudent(deleteStudent.id)" class="btn btn-danger">Yes, delete</button>
                </div>
            </div>
        </div>
    </div>     

    <!-- Update Student Modal -->  
    <div class="modal" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form #editForm="ngForm">
                        <input type="hidden" class="form-control" id="id" ngModel="{{editStudent?.id}}" name="id">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" ngModel="{{editStudent?.name}}" name="name">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" ngModel="{{editStudent?.email}}" name="email">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="dob">Date of birth</label>
                            <input type="date" class="form-control" id="dob" ngModel="{{editStudent?.dob}}" name="dob">
                        </div>
                        <br>
                    </form>
                </div>

                <div class="modal-footer">
                    <button id="update-student-form" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button (click)="onUpdateStudent(editForm.value)" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>     
</div>
